[Unit]
Description=Frontend for lights (running in port 8000)

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/hardware_projects/led_lights/frontend
ExecStart=/home/pi/.nvm/versions/node/v16.6.1/bin/npmstart

